.formFields {
    display: flex;
    flex-direction: column;
}

.formFields input {
    height: 40px;
    margin: 5px 0px;
    border: none;
    background: #F3F3F3;
    font-size: 12px;
    border-radius: 1.36597px;
    padding: 0 15px;
}

.formFields select {
    height: 40px;
    margin: 5px 0px;
    border: none;
    background: #F3F3F3;
    font-size: 12px;
    border-radius: 1.36597px;
    padding: 0 15px;
}

.formFields label{
    margin-top: 15px;
    font-size: 18px;
}

.formFields .file_upload {
    /* border: 1px dashed rgba(0, 0, 0, 0.5); */
    /* height: 40px; */
    font-size: 12px;
    padding: 10px;
    padding-left: 40px;
}

.formFields .file_upload_input {
    display: none;
}

.formFields label {

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #606060;
}

.formFields button {
    width: 121px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    background: rgba(54, 153, 251, 0.8);
    border-radius: 10px;
    color: #F3F3F3;
    border: none;
}

@media screen and (max-width: 800px) {
    .formFields input {
        height: 34px;
    }
    .formFields label {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .formFields input {
        height: 30px;
    }
    .formFields label {
        font-size: 14px;
    }
}