
.stepsSec{
    width: 500px;
    text-align: left;
    margin: auto;
    font-family: 'sora', sans-serif;
    position: relative;
    /* outline: 2px solid lime; */
    /* overflow-y: scroll; */
    height: 180px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.stepsContainer{
    position: relative;
    top: 0;
    transition: 0.3s ease;
    /* padding: 200px 0; */
    /* height: 150px; */
    /* outline: 2px solid red; */
}