.step{
    position: relative;
    top: 0px;
    font-family: 'sora', sans-serif;
}
.countNum{
    font-size: 70px;
    font-weight: 600;
    color: rgba(178, 204, 253, 0.6)
}
.stepInfo{
    color: #395D89;
    margin-top: 0;
    font-weight: 400;
}
.highLight{
    /* transform: scale(1.5); */
    opacity: 1;
}