/* @import url(https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900); */

.headsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body_container1 {

  margin: 100px 60px;

}

.header_logo {
  display: flex;
  justify-content: space-evenly;

}

.header_logo figure {
  width: fit-content;
  margin: 0;
}

.header_logo img {
  width: 100%;
}

.header_log_title {
  font-family: "Sora", sans-serif;
  font-size: 32px;
  padding-left: 10px;
  /* margin-top: 30px; */
  color: #4e4e4e;
  margin: auto;
}

.heading_content1 p {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
  color: #4e4e4e;
}

.login_button p {
  display: none;
  font-family: "Sora", sans-serif;
  border-bottom: #4e4e4e 2px solid;
  color: #4e4e4e;
  font-size: 24px;
  cursor: pointer;
}

.body_container2 {

  width: 100%;
  padding: 100px;

  /* background: radial-gradient(50% 40.36% at 90% 40.68%, #FFDEFA 20%, rgba(255, 255, 255, 0) 100%); */
}

.heading_content h1 {
  color: #395d89;
  font-family: "Sora", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.heading_content1 h1 {
  width: auto;
  color: #4e4e4e;
  font-family: "Sora", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.heading_content1 p {
  margin-top: -20px;

}

.heading_content1 button {
  width: 260px;
  height: 50px;
  margin-top: 10px;
  padding: 13px 25px 13px 25px;
  font-size: 18px;
  line-height: 18px;
  background-color: #3699fb;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.heading_content2 {
  position: absolute;
  bottom: -100px;
  right: 50px;
  width: 250px;
  text-align: right;
  margin: 45px 50px;
}

.heading_content2 p {
  position: relative;
  top: -5px;
  font-family: 'Sora';
  font-weight: bolder;
  line-height: 15px;
  font-size: 15px;
}

.heading_content3 h1 {

  margin-top: 250px;
}

.heading_content3 p {
  margin-top: -20px;
  color: #395d89;
  font-size: 24px;
  font-weight: 400;
}

.heading_content4 {
  display: flex;
  justify-content: flex-end;
}

.heading_content4 h1 {
  color: #395d89;
  font-family: "Sora", sans-serif;
  font-size: 50px;
  margin-top: 100px;
  font: bold;
}

.heading_content4 p {
  margin-top: -20px;
  color: #395d89;
  font-size: 25px;
}

.heading_content5 {
  text-align: center;
}

.heading_content5 h1 {
  font-size: 45px;
  color: #313131;
  font-family: "Sora", sans-serif;
}

.heading_content5 h2 {
  margin-top: -20px;
  font-size: 40px;
  color: #5fa5fa;
  font-family: "Sora", sans-serif;
}

.content6 {
  display: flex;
  justify-content: space-between;
}

.list_content {
  margin-top: 100px;
}

.feature_soft {
  text-align: start;
  margin-top: 300px;
}

.list_content p {
  font-size: 25px;
  padding-top: 20px;
}

@media screen and (max-width: 1048px) {
  .heading_content2{
    margin-right: 0;
    bottom: unset;
    top: 480px;
  }
}

@media (max-width: 900px) {
  .body_container1{
    margin-left: 0;
  }
  .heading_content1 h1{
    font-size: 40px;
  }
  .heading_content1 p{
    font-size: 20px;
    text-align: left;
    margin-left: 0;
  }
  .heading_content2{
    margin-right: 0;
    bottom: unset;
    top: 480px;
  }
  .heading_content3 h1{
    font-size: 40px;
  }
  .heading_content4 h1{
    font-size: 40px;
  }
  .heading_content3 p{
    font-size: 20px;
  }
  .heading_content4 p{
    font-size: 20px;
  }
}


@media screen and (max-width: 650px) {
  .header_logo figure {
    width: 20px;
  }

  .header_log_title {
    font-size: 14px;
    font-weight: 300;
  }

  .heading_content1 h1 {
    font-size: 18px;
  }

  .heading_content1 p {
    font-size: 12px;
    margin: 10px 0;
  }

  .heading_content1 button {
    font-size: 12px;
    padding: 8px 20px;
    width: auto;
    height: auto;
  }

  .body_container1 {
    margin: 20px 2%;
    margin-top: 30px;
  }
  .body_container2{
    padding: 20px 5px;
  }
  .heading_content2 {
    justify-content: center;
    font-size: 10px;
    top: 180px;
    right: 0;
    bottom: unset;
    width: 200px;
    margin: 0;
    margin-right: 5%;
  }
  .heading_content2 p{
    font-size: 10px;
    font-weight: 300;
  }
  .heading_content2 img{
    width: 60px;
  }

  .heading_content3 h1{
    margin: 0;
    font-size: 16px;
    margin-top: 60px;

  }
  .heading_content3 p{
    font-size: 12px;
    margin: 5px 0;
    font-weight: 300;
  }
  .heading_content4 {
    justify-content: flex-end;
  }
  .heading_content4 h1{
    font-size: 16px;
    text-align: right;
    margin-top: 20px;
  }
  .heading_content4 p{
    margin: 5px 0;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
  }
  .heading_content5 h1 {
    font-size: 25px;
  }

  .heading_content5 h2 {
    font-size: 20px;
  }

  .content6 {
    display: grid;
    /* flex-wrap: wrap; */
  }

  .content6_img {
    text-align: center;
  }

  .list_content {
    /* justify-items: center; */
    margin-top: 0px;
  }

  .content6 img {
    width: auto;
    height: 250px;
  }

  .list_content p {
    font-size: 10px;
  }
}

/* @media screen and (max-width: 1024px) {
  .body_container2{
    padding: 20px;
  }
} */
@media screen and (max-width: 400px) {
  .heading_content2 {
    top: 190px;
  }
  .heading_content1 h1{
    font-size: 16px;
  }
  .body_container2{
    padding: 0;
  }
}


