.step{
    position: relative;
    top: 0px;
    font-family: 'sora', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* outline: 2px solid lime; */
    text-align: left;
    width: 100%;
}
.countNum{
    font-size: 70px;
    font-weight: 600;
    color: rgba(178, 204, 253, 0.6)
}
.stepInfo{
    color: #395D89;
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
}
.highLight{
    /* transform: scale(1.5); */
    opacity: 1;
}

@media screen and (max-width: 1080px){
    .step{
        height: fit-content;
        text-align: center;
        align-items: center;
        height: fit-content;
        margin: auto;
        width: 100%;
    }
    .countNum{
        font-size: 60px;
    }
    .stepInfo{
        font-size: 16px;
    }
}
@media screen and (max-width: 900px){
    .step{
        height: fit-content;
        text-align: center;
        align-items: center;
        height: fit-content;
        margin: auto;
        width: 100%;
    }
    .step:nth-child(2){
        margin: 20px 0;
    }
    .countNum{
        text-align: center;
        font-size: 60px;
    }
    .stepInfo{
        text-align: center;
        font-size: 18px;
        margin: 20px 0;
    }
}
@media screen and (max-width: 600px){
    .step{
        height: fit-content;
        text-align: center;
        align-items: center;
        font-size: 14px;
    }
    .countNum{
        font-size: 40px;
    }
    .stepInfo{
        font-size: 14px;
    }
}