.step{
    position: relative;
    top: 0px;
    font-family: 'sora', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* outline: 2px solid lime; */
    text-align: left;

}
.countNum{
    font-size: 70px;
    font-weight: 600;
    color: rgba(178, 204, 253, 0.6)
}
.stepInfo{
    color: #395D89;
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
}
.highLight{
    /* transform: scale(1.5); */
    opacity: 1;
}