/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sora:wght@300&display=swap'); */

.footer_body {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background: #2d2c2c;
  box-sizing: border-box;
}
.footer_main_body {
  /* padding: 60px 70px 0px 70px; */
  display: flex;
  justify-content: space-around;
  /* scale: 1; */
  padding-top: 40px;
  flex-wrap: wrap;
  flex-basis: 600px;
}

.section1{
  width: 50%;
  /* padding-left: 8%; */
  padding-left: 4%;
}

.info{
  position: relative;
  top: auto;
  left: auto;
  margin-top: 95px;
  color: rgba(138, 138, 138, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
}

.fuctionality{
  color: #fff;
  position: absolute;
  bottom: 124px;
  font-family: 'Sora', sans-serif;
  font-size: 22px;
}


.fuctionality > div{
  margin: 10px 0;  
}

.social{
  position: absolute;
  bottom: 64px;
}
.social > span{
  margin-right: 10px;
}



.section2{
  width: 50%;
}



.imageSection{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  /* margin-bottom: 50px; */
  width: 80%;
  max-width: 500px;
}

.singleImage{
  /* width: 50%; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 203px;
  height: 332px;
  overflow: hidden;
  margin-right: 20px;

}
.singleImage > img {
  height: 100%;
}
.singleImage > h4 {
  margin-bottom: 0;
  color: rgba(54, 153, 251, 1);
}
.singleImage > p {
  margin-top: 3px;
  color: rgba(249, 249, 249, 1);
}

.foundersInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 50px;

}
.foundersInfoContainer > h1{
  font-family: 'Sora', sans-serif;
  color: #B2CCFD;
  font-weight: 400;
  margin: 40px 0  ;
  margin-left: 0;
  width: 80%;
  max-width: 500px;


}
.foundersInfoContainer > p{
  color: white;
  width: 80%;
  font-size: 18px;
  font-family: 'Sora';
  font-weight: 300;
  max-width: 500px;

}

@media only screen and (max-width: 1040px) {
  .foundersInfoContainer{
    width: 100%;
  }
  .info{
    font-size: 30px;
  }
  .fuctionality{
    bottom: 124px;

    font-size: 18px;
  }
  .singleImage{
    height: 260px;
  }
  /* .singleImage > img {
    width: 200px;
  } */
  .foundersInfoContainer > p{
    font-size: 14px;
  }
  .singleImage > h4{
    font-size: small;
  }
  .singleImage > p {
    font-size: small;
  }
}

@media only screen and (max-width: 850px) {
  .foundersInfoContainer{
    padding-right: 5%;
  }
  .info{
    font-size: 18px;
  }
  .fuctionality{
    bottom: 110px;
    font-size: 10px;
  }
  .imageSection{
    /* margin-bottom: 30px; */
    justify-content: flex-start;
  }
  .singleImage{
    height: 200px;
  }
  /* .singleImage > img {
    width: 140px;
  } */
  .singleImage > h4{
    font-size: 14px;
  }
  .singleImage > p {
    font-size: 12px;
  }
  .section2 > div > h1{
    font-size: 16px;
  }
  .footer_main_body {
    padding-top: 25px;
  }

  .social{
    bottom: 34px;
  }
  .fuctionality{
    bottom: 94px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .foundersInfoContainer{
    align-items: flex-start;
  }
  .footer_body{
    height: 640px;
  }
  .footer_main_body{
    height: 100%;
  }
  .singleImage{
    /* width: fit-content; */
    margin-right: 5%;
    height: 200px;
  }
  .imageSection{
    width: 100%;
    max-width: 350px;
  }
  .info{
    position: absolute;
    left: 0%;
    top: 0px;
    text-align: left;
    margin: 0;
    color: #aaa;
  }
  .section1{
    width: 90%;
    height: 100%;
    position: relative;
    left: 0;
    padding: 0;
  }
  .section2{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 90%;
  }
  .section2 > div > h1{
    font-size: 14px;
    font-weight: 400;
    color: #B2CCFD;
    height: fit-content;
    margin: 40px;
    text-align: left;
    margin-left: 0;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .foundersInfoContainer p{
    font-size: 12px;
    width: 100%;
  }
  .singleImage{
    text-align: left;
    align-items: flex-start;
  }
  /* .singleImage > img {
    width: 100px;
  } */

  .fuctionality{
    font-size: 12px;
  }
  /*
  .social{
    bottom: 0;
    left: 0;
  } */
  .info{
    font-size: 14px;
    top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 415px) {
  /* .singleImage > img {
    width: 80px;
  } */
  .footer_body{
    height: 600px;
  }
  .singleImage{
    height: 160px;
  }
  .section2 > div > h1{
    font-size: 14px;   
  }

  .info{
    font-size: 12px;
  }
  
}