@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");

.container {
  padding: 50px;
  background: linear-gradient(135deg, rgb(156, 199, 252), #00ffff00, #00ffff00, #00ffff00, #00ffff00), 
              radial-gradient(50% 45.36% at 100% 50%, #FFDEFA 41%, rgba(255, 255, 255, 0) 100%);
}

/* .headsection {
  display: flex;
  justify-content: space-between;
}
.body_container {
  padding: 60px;
}
.header_logo {
  display: flex;
  justify-content: space-evenly;
}
.header_log_title {
  font-family: "Sora", sans-serif;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 30px;
  color: #4e4e4e;
}
.login_button h3 {
  font-family: "Sora", sans-serif;
  border-bottom: #4e4e4e 2px solid;
  color: #4e4e4e;
} */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 20px;
  }
}
